<div id="wrapper">
    <app-sidebar></app-sidebar>
    <div id="content-wrapper" class="d-flex flex-column">
      <div id="content">
        <app-navbar></app-navbar>
        <div class="container-fluid">
          <!-- Begin Main Content -->
          <div class="card">
              <div class="card-header">
                Patient Family Details
              </div>
              <div class="card-body">
                <form class="example-form" [formGroup]="familyForm" (ngSubmit)="save()"  >
                    <table class="example-full-width" cellspacing="0">
                      <tr>
                        <td>
                          <mat-form-field >
                              <input matInput formControlName="fatherName"  placeholder="Father/Mother Name" >
                          </mat-form-field>
                        </td>
                        <td>
                            <mat-form-field >
                                <input matInput formControlName="fatherAddress"  placeholder="address" >
                            </mat-form-field>
                          </td>
                          <td>
                              <mat-form-field >
                                  <input matInput formControlName="fatherNumber" OnlyNumberWithLength MinDigit="10" MaxDigit="10"   placeholder="Mobile Number" >
                              </mat-form-field>
                            </td>
                            <td>
                                <mat-form-field >
                                    <input matInput formControlName="fatherEmail"  placeholder="Email" >
                                </mat-form-field>
                              </td>
                      </tr>
                      <tr>
                          <td>
                            <mat-form-field >
                                <input matInput formControlName="guardianName"  placeholder="Guardian Name" >
                            </mat-form-field>
                          </td>
                          <td>
                              <mat-form-field >
                                  <input matInput formControlName="guardianAddress"  placeholder="address" >
                              </mat-form-field>
                            </td>
                            <td>
                                <mat-form-field >
                                    <input matInput formControlName="guardianNumber" OnlyNumberWithLength MinDigit="10" MaxDigit="10"  placeholder="Mobile Number" >
                                </mat-form-field>
                              </td>
                              <td>
                                  <mat-form-field >
                                      <input matInput formControlName="guardianEmail"  placeholder="Email" >
                                  </mat-form-field>
                                </td>
                      </tr>
                      <tr>
                          <td>
                            <mat-form-field >
                                <input matInput formControlName="spouseName"  placeholder="Spouse Name If" >
                            </mat-form-field>
                          </td>
                          <td>
                              <mat-form-field >
                                  <input matInput formControlName="spouseAddress"  placeholder="address" >
                              </mat-form-field>
                            </td>
                            <td>
                                <mat-form-field >
                                    <input matInput formControlName="spouseNumber" OnlyNumberWithLength MinDigit="10" MaxDigit="10"  placeholder="Mobile Number" >
                                </mat-form-field>
                              </td>
                              <td>
                                  <mat-form-field >
                                      <input matInput formControlName="spouseEmail"  placeholder="Email" >
                                  </mat-form-field>
                                </td>
                      </tr>
                      <tr>
                          <td>
                              <mat-form-field >
                                  <input matInput formControlName="spouseAge" OnlyNumberWithLength MinDigit="2" MaxDigit="2"  placeholder="Spouse Age" >
                              </mat-form-field> 
                          </td>
                          <td>
                              <mat-form-field >
                                  <input matInput formControlName="spouseOccupation"  placeholder="Spouse Occupation" >
                              </mat-form-field> 
                          </td>
                          <td>
                              <mat-form-field >
                                  <mat-label>RelationShip Status</mat-label>
                                  <mat-select formControlName="relationShipStatus" >
                                    <mat-option>None</mat-option>
                                    <mat-option value="Living Together">Living Together</mat-option>
                                    <mat-option value="Saperated">Saperated</mat-option>
                                    
                                  </mat-select>
                              </mat-form-field> 
                          </td>
                        <td>
                            <mat-form-field >
                                <input matInput formControlName="childernsCount" OnlyNumberWithLength MinDigit="1" MaxDigit="2"  placeholder="Childerns Count" >
                            </mat-form-field> 
                        </td>
                      </tr>
                    </table>
              
               </form>
              </div>
              <div class="card-footer text-muted">
               <!-- {{profileForm.value | json}} -->
               <input style="width: 20%" type="button" (click)="save()"  value="Next" class="btn btn-primary"  >
              </div>
            </div> 
          <!-- End of Main Content -->
        </div>
      </div>
      
    </div>
  </div>