<div id="wrapper">
  <app-sidebar></app-sidebar>
  <div id="content-wrapper" class="d-flex flex-column">
    <div id="content">
      <app-navbar></app-navbar>
      <div class="container-fluid">
        <!-- Begin Main Content -->
        <div class="card" style="width: 15%"  >
          <div class="card-header">
            Patient Data Added till 
          </div>
          <div class="card-body">
            <h4 class="card-title">Patient Count</h4>
            <p class="card-text">10</p>
          </div>
          <div class="card-footer text-muted">
            Footer
          </div>
        </div>        
        <!-- End of Main Content -->
      </div>
    </div>
    
  </div>
</div>