<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

  <!-- Sidebar - Brand -->
  <a class="sidebar-brand d-flex align-items-center justify-content-center" routerLink="/dashboard">
    <div class="sidebar-brand-icon rotate-n-15">
      <i class="fas fa-laugh-wink"></i>
    </div>
    <div class="sidebar-brand-text mx-3"   >Tulsi HealthCare<sup></sup></div>
  </a>

 
  <li class="nav-item">
    <a class="nav-link" (click)="goToFirstComponent()">
      <i class="fas fa-fw fa-chart-area"></i>
      <span>Application Form</span></a>
  </li>
 
  
    
  <hr class="sidebar-divider d-none d-md-block">
  <!-- Nav Item - Tables -->
  <li class="nav-item"  (click)="goTopatientTableComponent()"  >
    <a class="nav-link" >
      <i class="fas fa-fw fa-table"  ></i>
      <span>Patient Table</span></a>
  </li>

 

</ul>